# ==============================================================================
# Dados Sensíveis e Chaves
# ==============================================================================
.env

# ==============================================================================
# Python e Testes
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
ENV/
env/

# ==============================================================================
# Node e Frontend
# ==============================================================================
node_modules/
dist/
.eslintcache

# ==============================================================================
# IDEs e OS
# ==============================================================================
.idea/
.vscode/
*.swp
*.swo
.DS_Store
